---
title: Cali Eco Smoke Supply
description: >-
  Work with us to make your dispensary’s packaging and supplies more
  eco-friendly.
keywords:
author:
  - name
basic_settings:
  site_title: Cali Eco Smoke Supply
  favicon_image: /images/favicon.ico
  og_image: /images/screenshot.png
  logo_image: /images/caliecosmoke-logo-white.png
header:
  header_image: /images/woman.jpg
  header_image_opacity: 0.2
about:
  headshot_image: /images/emilyheadshot1.jpg
  icon1_image: /images/sustainable.svg
  text1: Sustainable
  icon2_image: /images/healthy.svg
  text2: Healthy
  icon3_image: /images/trust.svg
  text3: Reliable
testimonials:
  testimonial1:
    name:
    text:
    testimonial_image:
  testimonial2:
    name: Testimonial 2
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    testimonial_image: /images/emily.jpg
  testimonial3:
    name: Testimonial 3
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    testimonial_image: /images/emily.jpg
  testimonial4:
    name: Testimonial 4
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    testimonial_image: /images/emily.jpg
colors:
  primary_color: '#49ac7f'
  secondary_color: '#53b761'
  tertiery_color: '#d5f6f2'
  light_color: '#daede5'
  dark_color: '#202b2f'
contact_settings:
  email: ecoverdesmokesupply@gmail.com
  email_subject: Message via Cali Eco Smoke Supply Website
  send_button_text: Send Message
  phone: '4843345963'
  scheduling_link: www.calendly.com/caliecosmoke
mailchimpembed: >-
  <script
  id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8ef0b6e0d227110ff4ba720a8/292b0e73c19c1b40f2b20f6de.js");</script>
social_settings:
  facebook_url:
  twitter_url: 'https://twitter.com/smoke_eco'
  instagram_url: 'https://www.instagram.com/caliecosmoke/'
  youtube_url: 'https://www.youtube.com/channel/UC7fAwHxzHvnjBK9J3wIlOLA'
  pinterest_url:
  linkedin_url:
layout: default
---

<div class="header-image" style="background-image: url({{page.header.header_image}}); opacity: {{page.header.header_image_opacity}};">
</div>
<header class="header header-padding grid-bottom">
  <nav id="top" class="nav grid-spaceBetween">
    <div class="logo-container">
      <img src="{{page.basic_settings.logo_image}}" alt="cali eco smoke logo" />
    </div>
    <div class="hide-tablet text-right">
      <a href="tel:{{page.contact_settings.phone}}" class="phone-text"><h4><i class="fa fa-phone-square" aria-hidden="true"></i> Call us today 484-334-5963</h4></a>
      <a href="#contact" class="phone-text"><h4><i class="fa fa-envelope" aria-hidden="true"></i> Send an Email</h4></a>
    </div>
  </nav>
  <div class="col-8_md-12 center-on-mobile">
    <p class="header-text text-white editable">
      We help cannabis brands become more eco-friendly. Whether you're running a dispensary and want to go 100% zero-waste or you'd just like to be more mindful in your day to day smoke habits, we can help.
    </p>
    <h2 class="text-white editable">
      Because your green should also be green.
    </h2>
    <div class="grid pad-bottom-m">
      <a href="#about" class="pad-right-xs hide-mobile"><button class="button-white">Learn More</button></a>
      <a href="{{page.contact_settings.scheduling_link}}" target="blank"><button class="button-white">Schedule a Consultation</button></a>
    </div>
  </div>
</header>
<section id="about">
  <div class="text-box grid-middle">
    <span class="col-6_md-12 headshot" style="background-image: url({{page.about.headshot_image}});"></span>
    <div class="col-6_md-12">
      <div class="pad-all-s">
        <h3 class="editable">
          Work with us to make your smoking habits and supply-chain more eco-friendly.
        </h3>
        <p class="editable">
          Consumers have never been more conscious of the harm that excess plastic is doing to our planet, not to mention our bodies. Are the materials you use to store and package your smoke supplies the best you could be using?<br /><br />Build sustainability into the heart of your brand. It's not just good for the planet, it's also good business sense.<br /><br />Whether you're an influencer or you run a dispensary, we can help you to audit your routines and processes and find way to reduce waste, find eco-friendly substitutes and more.<br /><br />Let's chat about going green today. Your first consultation is free.
        </p>
        <a href="{{page.contact_settings.scheduling_link}}" target="blank"><button class="button-main margin-top-xs margin-bottom-s" style="background:{{page.colors.primary_color}};
          border: solid {{page.colors.primary_color}} 1px;">Schedule a Consultation</button></a>
        <div class="grid-spaceBetween-center pad-top-xs">
          <div class="text-center icon">
            <img src="{{page.about.icon1_image}}" />
            <p>
              {{page.about.text1}}
            </p>
          </div>
          <div class="text-center icon">
            <img src="{{page.about.icon2_image}}" />
            <p>
              {{page.about.text2}}
            </p>
          </div>
          <div class="text-center icon">
            <img src="{{page.about.icon3_image}}" />
            <p>
              {{page.about.text3}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 class="text-center text-white pad-bottom-s editable">Trusted by clients, partners and industry leaders.</h2>
  <div class="grid">

    <div class="col-6_md-12">

      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>{{page.testimonials.testimonial1.name}}</h3>
          <p>
            {{page.testimonials.testimonial1.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial1.testimonial_image}});"></span>
      </div>

      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>{{page.testimonials.testimonial2.name}}</h3>
          <p>
            {{page.testimonials.testimonial2.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial2.testimonial_image}});"></span>
      </div>

    </div>


    <div class="col-6_md-12 pad-top-s">

      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>{{page.testimonials.testimonial3.name}}</h3>
          <p>
            {{page.testimonials.testimonial3.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial3.testimonial_image}});"></span>
      </div>

      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>{{page.testimonials.testimonial4.name}}</h3>
          <p>
            {{page.testimonials.testimonial4.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial4.testimonial_image}});"></span>
      </div>


    </div>

  </div>
</section>

<section>
  <h2 class="text-center text-white editable">
    Services
  </h2>
  <div class="text-box pad-all-s editable">
    <h3>Sustainability Consultation</h3>
    <p>From the containers you store your bud in, to the packaging that comes home with it, to the chemicals you use to clean your equipment and accessories. There's so many little ways you can be harming your health and the environment with your smoke habits.</p>
    <p>If you're running a dispensary or cannabis brand, there's probably even more waste that's being created with the need to use plastic to meet state requirements on child safety and labeling. Add to that the waste you have around shipping? It's an eco nightmare.</p>
    <p>With changes in the industry have come new opportunities and solutions. We can help you to find efficiencies that also impact your bottom-line and match you with vendors and partners that can make your entire weed routine as green as possible.</p>
    <p>Work with us to make your green more green. It's good for you, your customers and the environment!</p>
    <p><a href="#contact"><strong>Email us to get started.</strong></a></p>
    <h3>Brand Representation</h3>
    <p>There's no doubt "green marketing" is here to stay. Customers spend their dollars on brands that share their values, and who doesn't care about the planet these days?</p>
    <p>If you have an eco cannabis brand, we can match you with the right partners and opportunities to be as good at marketing your green brand as you are at being eco-friendly in your day to day practices.</p>
    <p>Member benefits include:</p>
    <ul>
      <li>Exclusive discounts with packaging and media companies.</li>
      <li>Event representation at industry expos and networking events.</li>
      <li>Marketing and content production services.</li>
    </ul>
    <p>Are you ready to get the word out about your eco-friendly cannabis brand?</p>
    <p><a href="#contact"><strong>Email us to get started.</strong></a></p>
  </div>
</section>

<section>
  <div class="grid-center text-center">
    <div class="col-9_md-12">
      <image src="{{page.basic_settings.logo_image}}"></image>
      <p class="header-text text-white editable">
        The decisions you make every day add up to a pretty big impact on the planet. If weed is a major part of your lifestyle or business, then you should be thinking about ways to make your routines as eco-friendly as possible. We're here to help, and an initial consultation is free, so what is there to lose? Don't you want your green to be more green?
      </p>
      <a href="{{page.contact_settings.scheduling_link}}" target="blank"><button class="button-white">Schedule a Consultation</button></a>
    </div>
  </div>
</section>

<section>
  <div class="text-box grid">
    <div class="col-6_md-12 pad-all-s">
      <h3 class="editable">
        Want to get free tips and advice?
      </h3>
      <p class="editable">
        Sign up for our email list and start learning how make your smoke habits more green. We've got resources suitable for the casual cannabis enthusiast as well as influencers, dispensaries and industry experts.
      </p>
    </div>
    <div class="col-6_md-12 pad-all-s">
      {{page.mailchimpembed}}
    </div>
  </div>
</section>

<section>
  <a href="tel:{{page.contact_settings.phone}}" class="text-center"><h2 class="text-white">Call us <span class="hide-mobile">today </span>484-334-5963</h2></a>
  <div class="grid-spaceAround pad-all-xs pad-top-s">
    {% if page.social_settings.facebook_url != '' %}
    <div>
      <a href="{{page.social_settings.facebook_url}}" target="blank"><i class="fa fa-facebook-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if page.social_settings.instagram_url != '' %}
    <div>
      <a href="{{page.social_settings.instagram_url}}" target="blank"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if page.social_settings.twitter_url != '' %}
    <div>
      <a href="{{page.social_settings.twitter_url}}" target="blank"><i class="fa fa-twitter-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if page.social_settings.youtube_url != '' %}
    <div>
      <a href="{{page.social_settings.youtube_url}}" target="blank"><i class="fa fa-youtube-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if page.social_settings.pinterest_url != '' %}
    <div>
      <a href="{{page.social_settings.pinterest_url}}" target="blank"><i class="fa fa-pinterest-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if page.social_settings.linkedin_url != '' %}
    <div>
      <a href="{{page.social_settings.linkedin_url}}" target="blank"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
  </div>
  <div class="text-box margin-top-m pad-all-s" id="contact">
    <h2 class="text-center pad-bottom-s">Send an Email</h2>
    <form method="post" action="https://formspree.io/{{page.contact_settings.email}}" id="contact-form">
      <div>
        <input type="text" name="email" placeholder="Your email address..." />
      </div>
      <div>
        <input type="text" name="name" placeholder="Your name..." />
      </div>
      <div>
        <input type="text" name="phone" placeholder="Your phone number..." />
      </div>
      <div>
        <textarea name="message" placeholder="Your message..."></textarea>
      </div>
      <input type="hidden" name="_subject" value="{{ page.contact_settings.email_subject }}" />
      <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="" />
      <div class="contact-form__item">
        <input type="submit" value="{{ page.contact_settings.send_button_text }}" class="button-main" style="background:{{page.colors.primary_color}};
          border: solid {{page.colors.primary_color}} 1px; width: 100%;" />
      </div>
    </form>
  </div>
</section>
