<section>
  <h2 class="text-center text-white pad-bottom-s editable">
    Trusted by clients, partners and industry leaders.
  </h2>
  <div class="grid">
    <!-- Gus says: fixed the columns to have the testis divided in 2 columns on LG and 1 column from MD viewports onwards, please check if it's the desired layout; I also removed the padding from the second set, please check the next comment -->
    <div class="col-6_md-12">
      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>
            {{page.testimonials.testimonial1.name}}
          </h3>
          <p>
            {{page.testimonials.testimonial1.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial1.testimonial_image}});"></span>
      </div>
      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>
            {{page.testimonials.testimonial2.name}}
          </h3>
          <p>
            {{page.testimonials.testimonial2.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial2.testimonial_image}});"></span>
      </div>
    </div>
    <!-- Gus says: the div below had a class of pad-all-s which I removed to make the testi cards align accordingly, please check if it's according to your layout -->
    <div class="col-6_md-12">
      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>
            {{page.testimonials.testimonial3.name}}
          </h3>
          <p>
            {{page.testimonials.testimonial3.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial3.testimonial_image}});"></span>
      </div>
      <div class="text-box grid margin-top-m">
        <div class="col-7_md-12 pad-all-s">
          <h3>
            {{page.testimonials.testimonial4.name}}
          </h3>
          <p>
            {{page.testimonials.testimonial4.text}}
          </p>
        </div>
        <span class="testimonial-headshot col-5_md-12" style="background-image: url({{page.testimonials.testimonial4.testimonial_image}});"></span>
      </div>
    </div>
  </div>
</section>
